@media screen and (max-width: 600px){
    main{
        display: block;
        width: 100%;
    }
    main article, 
    main section{
        width: 100%;
    }
    #lightbox img{
        height: 40vh;
        width: 70%;
        left: 15%;
    }
    nav{
        display: none;
        width: 100%;
        position: absolute;
        z-index: 10;
    }
    nav a{
        display: block;
        width: 100%;
        text-align: center;
        line-height: 2em;
        border-bottom: 1px solid white;
    }
    .burger{
        display: block;
        position: relative;
    }
}
